#!/usr/bin/env rc

# Get Plan 9 subf font converted from vector fonts via fontsrv, single size
# Source: https://9fans.topicbox.com/groups/9fans/Td0ab6c3112c95493-M4b945fa58f69efff23098167/whats-the-default-font-in-acme

if(test $#* -ne 2) {
	echo usage: $0 FONTNAME FONTSIZE
	echo example: $0 DejaVuSans-Bold 20a
	exit 1
}

ifs='
'
name = $1^/
dir = $2^/      # size dir; e.g. '12' or '12a'

mkdir -p $dir
fontsrv -p $name^$dir^font > $dir^font
if(! ~ $status '') exit
fontsrv -p $name^$dir^font | 
ssam '1d
,x=.* =d
,s=.+=& > '^$dir^'&=g
,x=^=i=fontsrv -p '''^$name^$dir^'''=' | rc
